<% @lists.each do |list| %>
  <h1><%= link_to(list.name, list_path(list)) %></h1>
  <ul class="books books-horizontal">
    <%= render partial: "books/book_preview",
      collection: list.ranking_books, as: :book
    %>
  </ul>
<% end %>
