<% @authors.each do |author| %>
  <div class="author__name"><%= link_to(author.full_name, author) %></div>
  <ul class="books books-horizontal">
    <%= render partial: "books/book_preview", collection: author.popular_books, as: :book %>
  </ul>
<% end %>
