.author__name {
  font-size: $base-title-size;
}

.books-horizontal {
  @include border-color(null null $base-secondary-color null);
  @include border-style(null null solid null);
  @include display(flex);
  @include justify-content(space-around);
}

.author-cover {
  @include span-columns(4);
}

.author-info {
  @include span-columns(8);
  @include omega();

  span {
    font-weight: bold;
  }
}

.author__books {
  @include shift(4);
  clear: left;
}
