$border-color: #e8e8e8;

.filters {
  @include span-columns(2);
  li {
    @include padding(15px null 15px null);
    border-bottom: 1px solid $border-color;
  }
}

.books-list {
  @include span-columns(10);
}

.book {
  @include outer-container;
  @include fill-parent();
}


.book-details > div {
  @include padding(15px null 15px null);
  border-bottom: 1px solid $border-color;
}

.book-category {
  width: $base-book-width;
}

.book-title {
  color: $base-secondary-color;
  font-size: $base-title-size;
}

.book-rating {
  background-image: image-url("star.png");
  background-position: left-center;
  background-repeat: no-repeat;
  background-size: 48px;
  font-weight: bold;
  text-align: center;
  width: 48px;
}
.book-genre {
  font-style: italic;
}

.cover-image {
  @include span-columns(2);
}

.book-details {
  @include span-columns(8);
  vertical-align: top;
}
